[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "bynder-private-pypi"
verify_ssl = false
url = "http://bynder-shared-s3-private-pypi-repository-eu-west-1.s3-website-eu-west-1.amazonaws.com"

[dev-packages]
asynctest = "*"
autopep8 = "*"
bandit = "*"
flake8 = "*"
mypy = "==0.782"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
yamllint = "*"

[packages]
aiohttp = "*"
aiohttp_prometheus = "*"
attrs = '*'
bynder-config-loader = {index = "bynder-private-pypi", version = "*"}
bynder-connectors = {index = "bynder-private-pypi", version = "*"}
bynder-gatekeeper = "*"
cattrs = '<1.2.0'
colander = "*"
cqrs-helpers = {extras = ["kafka"], index = "bynder-private-pypi", version = "*"}
dnspython = "*"
gunicorn = "*"
newrelic = "*"
pyjwt = "*"
pymysql = "*"
sentry-sdk = "*"
sqlalchemy = "*"
python-json-logger = "*"

[requires]
python_version = "3.7"
